maskingRegion
maskingValue
metricCreationDate
referenceFileCheckSum
referenceFilename
referenceName
referencePeriod
referenceTrackingDate
referenceType
regriddingGridName
regriddingMethod
regriddingTool
simulationActivity
simulationCheckSum
simulationComputeNode
simulationCreationDate
simulationExperiment
simulationFreeSpace
simulationInputClimatologyFileCheckSum
simulationInputClimatologyFileName
simulationInstitute
simulationLogin
simulationMIP
simulationModel
simulationName
simulationPeriod
simulationTrackingID
variable